/validation/
/stuff/lounch.bat
/elab/
/stuff/
/pyDoc/
/scripts/
*__pycache__/
ScreenCamera*
ScreenCapture*
DepthCamera*
DepthCapture*
*.pkl
.vscode/   
logger/
stitch_pipeline_*
save_colormap_deltas.py